<link rel="stylesheet" href="/assets/css/style-contact.css">
<!-- Seccion de contacto -->
<section class="jumbotron wallpaper-contacto text-center text-white px-0">
  <div class="px-2">
    <div class="container-jumbotron p-5 container-background">
      <p class="display-jumbotron">¿Tienes una Pregunta?</p>
      <p class="lead pt-3">Nos encantaría hablar sobre cómo podemos ayudarla.</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 300">
    <path fill="#ffff" fill-opacity="1" d="M0,192L120,208C240,224,480,256,720,245.3C960,235,1200,181,1320,154.7L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
</section>

<!-- Informacion de contacto -->
<div class="container pb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-4 col-lg-3">
      <div class="card border-0 text-center bg-transparent" data-toggle="tooltip" data-placement="top" title="Direccion">
        <div class="card-header bg-transparent border-0 text-center p-0 m-0">
          <a href="https://goo.gl/maps/mEeV6vxx6KxJzJE39" target="_blank" class="text-decoration-none text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="none" class="icon-contactenos">
              <path fill="#DDC661" opacity="1.0" d="M256 512C397.385 512 512 397.385 512 256C512 114.615 397.385 0 256 0C114.615 0 0 114.615 0 256C0 397.385 114.615 512 256 512Z" />
              <path fill="#231F20" opacity="0.2" d="M256 112.784C180.888 112.784 120 172.96 120 247.184C120 364.784 256 448.784 256 448.784C256 448.784 392 366.888 392 247.184C392 172.96 331.112 112.784 256 112.784ZM256 304.784C220.656 304.784 192 276.128 192 240.784C192 205.44 220.656 176.784 256 176.784C291.344 176.784 320 205.44 320 240.784C320 276.128 291.344 304.784 256 304.784Z" />
              <path fill="#ffffff" opacity="1.0" d="M256 96.7843C180.888 96.7843 120 156.96 120 231.184C120 348.784 256 432.784 256 432.784C256 432.784 392 350.888 392 231.184C392 156.96 331.112 96.7843 256 96.7843ZM256 288.784C220.656 288.784 192 260.128 192 224.784C192 189.44 220.656 160.784 256 160.784C291.344 160.784 320 189.44 320 224.784C320 260.128 291.344 288.784 256 288.784Z" />
            </svg>
          </a>
        </div>
        <div class="card-body text-secondary d-none d-md-block">
          <h5 class="card-title">Direccion</h5>
          <p class="card-text">
            <a href="https://goo.gl/maps/mEeV6vxx6KxJzJE39" target="_blank" title="Merced 552, San Felipe." class="text-decoration-none text-secondary link">Merced 552, San Felipe.</a><br>
            <a href="https://goo.gl/maps/VZP2pC3FtN62" target="_blank" title="Las Heras 650, Los Andes." class="text-decoration-none text-secondary link">Las Heras 650, Los Andes.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 col-lg-3">
      <div class="card border-0 text-center bg-transparent" data-toggle="tooltip" data-placement="top" title="E-mail">
        <div class="card-header bg-transparent border-0 text-center p-0 m-0">
          <a href="mailto:Contacto@doctoramardones.cl" title="Contacto@doctoramardones.cl">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="none" class="icon-contactenos">
              <path fill="#DDC661" opacity="1.0" d="M256 512C397.385 512 512 397.385 512 256C512 114.615 397.385 0 256 0C114.615 0 0 114.615 0 256C0 397.385 114.615 512 256 512Z" />
              <path fill="#231F20" opacity="0.2" d="M416 352C416 369.672 401.672 384 384 384H128C110.328 384 96 369.672 96 352V192C96 174.328 110.328 160 128 160H384C401.672 160 416 174.328 416 192V352Z" />
              <path fill="#E0E0D1" opacity="1.0" d="M416 336C416 353.672 401.672 368 384 368H128C110.328 368 96 353.672 96 336V176C96 158.328 110.328 144 128 144H384C401.672 144 416 158.328 416 176V336Z" />
              <path fill="#231F20" opacity="0.2" d="M284.192 241.48C268.688 224.312 243.32 224.312 227.816 241.48L104.4 345.824C102.96 347.416 101.776 348.968 100.712 350.504C106.32 360.952 116.392 368 128 368H384C395.608 368 405.68 360.952 411.288 350.504C410.224 348.976 409.04 347.424 407.6 345.824L284.192 241.48V241.48Z" />
              <path fill="#E0E0D1" opacity="1.0" d="M284.192 256C268.688 240.8 243.32 240.8 227.816 256L104.4 348.368C102.96 349.776 101.776 351.152 100.712 352.504C106.32 361.76 116.392 368 128 368H384C395.608 368 405.68 361.76 411.288 352.512C410.224 351.16 409.04 349.784 407.6 348.376L284.192 256V256Z" />
              <path fill="#231F20" opacity="0.2" d="M100.712 161.496C106.32 151.048 116.392 144 128 144H384C395.608 144 405.68 151.048 411.288 161.496C410.224 163.024 409.04 164.576 407.6 166.176L284.192 270.52C268.688 287.688 243.32 287.688 227.816 270.52L100.712 161.496V161.496Z" />
              <path fill="#ffffff" opacity="1.0" d="M227.808 256C243.312 271.2 268.68 271.2 284.184 256L407.6 163.632C409.04 162.224 410.224 160.848 411.288 159.496C405.68 150.24 395.608 144 384 144H128C116.392 144 106.32 150.24 100.712 159.488C101.776 160.84 102.96 162.216 104.4 163.624L227.808 256V256Z" />
            </svg>
          </a>
        </div>
        <div class="card-body text-secondary d-none d-md-block">
          <h5 class="card-title">E-mail</h5>
          <p class="card-text">
            <a href="mailto:Contacto@doctoramardones.cl" title="Contacto@doctoramardones.cl" class="text-decoration-none text-secondary link">Contacto@<br>doctoramardones.cl</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 col-lg-3">
      <div class="card border-0 text-center bg-transparent" data-toggle="tooltip" data-placement="top" title="Whatsapp">
        <div class="card-header bg-transparent border-0 text-center p-0 m-0">
          <a href="https://api.whatsapp.com/send?phone=56939477902&text=Quisiera%20consultar%20sobre%20las%20ofertas&source=&data=&app_absent=" target="_blank" title="+569 3947 7902">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="none" class="icon-contactenos">
              <path fill="#ffffff" d="M256 440C357.62 440 440 357.62 440 256C440 154.38 357.62 72 256 72C154.38 72 72 154.38 72 256C72 357.62 154.38 440 256 440Z" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M184.456 130.036C179.492 118.148 175.728 117.696 168.208 117.392C165.648 117.244 162.796 117.096 159.632 117.096C149.848 117.096 139.62 119.956 133.448 126.276C125.928 133.952 107.268 151.86 107.268 188.58C107.268 225.304 134.048 260.82 137.66 265.792C141.424 270.752 189.872 347.208 265.1 378.368C323.928 402.748 341.384 400.488 354.772 397.632C374.332 393.42 398.856 378.964 405.028 361.512C411.196 344.052 411.196 329.152 409.388 325.992C407.584 322.832 402.616 321.032 395.096 317.264C387.576 313.5 351.012 295.44 344.092 293.032C337.32 290.476 330.852 291.38 325.74 298.604C318.516 308.688 311.448 318.924 305.728 325.092C301.216 329.908 293.84 330.512 287.672 327.952C279.396 324.496 256.228 316.36 227.64 290.928C205.52 271.216 190.476 246.688 186.116 239.312C181.752 231.788 185.664 227.42 189.124 223.36C192.888 218.692 196.496 215.384 200.256 211.016C204.02 206.652 206.124 204.396 208.532 199.276C211.092 194.312 209.284 189.192 207.48 185.428C205.672 181.656 190.628 144.932 184.456 130.036V130.036ZM255.924 0C114.796 0 0 114.828 0 255.996C0 311.98 18.056 363.904 48.748 406.044L16.848 501.16L115.248 469.712C155.72 496.5 204.016 512 256.076 512C397.204 512 512 397.164 512 256.004C512 114.836 397.204 0.008 256.076 0.008H255.928V0H255.924V0Z" fill="#DDC661" />
            </svg>
          </a>
        </div>
        <div class="card-body text-secondary d-none d-md-block">
          <h5 class="card-title">Whatsapp</h5>
          <p class="card-text">
            <a href="https://api.whatsapp.com/send?phone=56939477902&text=Quisiera%20consultar%20sobre%20las%20ofertas&source=&data=&app_absent=" target="_blank" title="+569 3947 7902" class="text-decoration-none text-secondary link">Chile.<br>+569 3947 7902</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Separador de area -->
<div class="container-fluid justify-content-center align-items-center">
  <hr class="col-8 col-lg-9 bg-warning my-5">
</div>

<!-- Formulario de contacto -->
<div class="container pt-5">
  <div class="text-center pt-2 pb-5">
    <p class="h1 text-fahusa font-weight-light">Dejanos un <span class="font-weight-bold" style="color: #ddc661;">mensaje</span></p>
    <p class="lead text-center">Si tiene preguntas o simplemente necesitas informacion, contáctenos.</p>
  </div>
  <div class="container px-6">
    <form id="formulario" disabled>
      <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="nombre" name="nombre" pattern="[A-Z,a-z]*" autocomplete="off">
        <label class="mdl-textfield__label" for="sample1">Nombre y Apellido *</label>
        <span class="mdl-textfield__error">¡Solo alfabeto y sin espacios, por favor!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" id="telefono" name="telefono" maxlength="8" autocomplete="off">
        <label class="mdl-textfield__label" for="sample1">Celular (+569) *</label>
        <span class="mdl-textfield__error">¡Solo alfabeto y sin espacios, por favor!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email" name="email" autocomplete="off">
        <label class="mdl-textfield__label" for="sample1">E-mail *</label>
        <span class="mdl-textfield__error">¡Solo alfabeto y sin espacios, por favor!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="5" id="mensaje" name="mensaje" style="resize: none;"></textarea>
        <label class="mdl-textfieldarea__label" for="sample5">¿Como podemos ayudarte? *</label>
      </div>
      <div class="text-center">
        <div class="alert alert-success d-none" id="mensajeExito">Mensaje enviado correctamente.</div>
        <div class="alert alert-danger d-none" id="mensajeError"></div>
        <!-- Key doctoramardones.cl 2   :   6LfrXv4UAAAAAImfKbUzpMMaJUm3zvNNV3b-tf_E -->
        <!-- Key localhost              :   6Leo2GkUAAAAACXApPs6tUo8ErYVLXnT7Nt0J2Xl -->
        <!-- Key epssti.cl              :   6LeXymkUAAAAAMS-3n_4km2B4KyGpw5wm1Y3bplG -->
        <button type="submit" class="btn btn-warning btn-wide transition-3d-hover w-50 mb-4 g-recaptcha"
          data-sitekey="6Leo2GkUAAAAACXApPs6tUo8ErYVLXnT7Nt0J2Xl" data-callback="onSubmit" id="sendbutton"
          name="sendbutton">Enviar Mensaje</button>
        <p class="small lead">Nos pondremos en contacto con usted<br> a la brevedad posible.</p>
      </div>
    </form>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
  </div>
</div>

<script type="text/javascript" src="/assets/js/material.min.js"></script>
