<!-- Carousel -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators mt-5">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Carousel-0 -->
    <div class="carousel-item active">
      <section class="jumbotron wallpaper0 text-center px-0">
        <div class="px-2">
          <div class="container container-background p-5">
            <p class="lead text-white">Trabajamos con productos de la más alta gama y con los niveles máximos de seguridad. Todos aprobados por el Instituto de Salud Pública de Chile.​</p>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 300"><path fill="#ffff" fill-opacity="1" d="M0,128L80,154.7C160,181,320,235,480,250.7C640,267,800,245,960,229.3C1120,213,1280,203,1360,197.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
      </section>
    </div>
    <!-- Carousel-1 -->
    <div class="carousel-item">
      <section class="jumbotron wallpaper1 text-center px-0">
        <div class="px-2">
          <div class="container container-background p-5">
            <p class="lead text-white">La mejor versión de ti misma/o con la <span class="font-weight-bold">Dra. Andrea Mardones</span>, destapa tu belleza natural a cualquier edad con tratamientos rejuvenecedores y sin cirugías.</p>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 300"><path fill="#ffff" fill-opacity="1" d="M0,192L120,208C240,224,480,256,720,245.3C960,235,1200,181,1320,154.7L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
      </section>
    </div>
    <!-- Carousel-2 -->
    <div class="carousel-item">
      <section class="jumbotron wallpaper2 text-center px-0">
        <div class="px-2">
          <div class="container container-background p-5">
            <p class="lead text-white"><span class="font-weight-bold">Cirugía láser refractiva: </span>La vida son experiencias, vívelas en cada detalle, dile adiós a los anteojos o lentes de contacto de forma rápida, segura y 100% láser.</p>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 300"><path fill="#ffff" fill-opacity="1" d="M0 59L60 75C120 91 240 123 360 165.7C480 208 600 262 720 251C840 240 960 166 1080 133.7C1200 102 1320 112 1380 117.7L1440 123V379H1380C1320 379 1200 379 1080 379C960 379 840 379 720 379C600 379 480 379 360 379C240 379 120 379 60 379H0V59Z"/></svg>
      </section>
    </div>
    <!-- Carousel-3 -->
    <div class="carousel-item">
      <section class="jumbotron wallpaper3 text-center px-0">
        <div class="px-2">
          <div class="container container-background p-5">
            <p class="lead text-white"><span class="font-weight-bold">Láser PLEXR: </span>tecnología revolucionaria para quitar arrugas y exceso de piel, indicado para el envejecimiento y la caída de los párpados.</p>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 300"><path fill="#ffff" fill-opacity="1" d="M1440 192L1320 208C1200 224 960 256 720 245.3C480 235 240 181 120 154.7L0 128V320H120C240 320 480 320 720 320C960 320 1200 320 1320 320H1440V192Z" /></svg>
      </section>
    </div>
  </div>
  <a class="carousel-control-prev text-info" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Cuerpo de la pag. -->
<div class="container pt-3 pb-5">
  <div class="row pt-3 pb-5">
    <div class="col font-italic text-center text-dark">
      <p class="coco-chanel px-lg-5"><i class="fa fa-quote-left"></i> Puedes ser preciosa a los treinta, encantadora a los cuarenta e irresistible el resto de tu vida… <i class="fa fa-quote-right"></i></p>
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">
          <a class="display-7 font-weight-bold">Coco Chanel.</a>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="row pb-3"></div>
  <div class="row align-items-center pt-5">
    <div class="col-md-8">
      <p class="lead font-italic">
        Con el paso de los años vamos evolucionando y atravesando diferentes etapas. La <span class="font-weight-bold">belleza también está evolucionando</span> con nosotros. Sentirte bien y cuidada en cada una de las etapas es lo importante. La edad es solo un número.
        <br>Soy médico oftalmóloga de profesión, y la salud visual junto con el rejuvenecimiento oculofacial han sido mis pasiones. Por lo mismo, he decidido complementar y potenciar estas dos áreas de la medicina.
        <br>En oftalmología atiendo niños y adultos. Practico cirugías refractivas láser y con lentes intraoculares, cirugías de cataratas y glaucoma, blefaroplastia láser sin cirugía, entre otras. En estética y rejuvenecimiento oculofacial, realizo distintos procedimientos usando las <span class="font-weight-bold">técnicas más avanzadas</span> y utilizando <span class="font-weight-bold">productos de primer nivel</span>. Revisa los detalles en esta página web.
        <br>Mi <span class="font-weight-bold">objetivo</span> es conseguir los mejores resultados, priorizando siempre la <span class="font-weight-bold">naturalidad</span>.
        <br><br><span class="font-weight-bold">Dra Andrea Mardones.</span>
      </p>
    </div>
    <div class="col-md-4 pt-5 pt-md-0 text-center">
      <img src="/assets/img/home/me.jpg" class="img-fluid card-img border border-warning rounded-pill shadow-lg" alt="">
      <div class="card-img-overlay row justify-content-end rounded-pill" style="margin-right: 0px; margin-left: 0px;">
        <span class="align-self-end" data-toggle="modal" data-target="#myInfo">
          <i class="fas fa-search-plus fa-4x zoom-Mardones h-grow" data-toggle="tooltip" data-placement="left" title="Ver mi C.V."></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Modal mi Informacion -->
<div class="modal fade rounded" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myInfo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 row justify-content-center align-items-center pb-0" style="margin-right: 0px; margin-left: 0px; align-items: flex-center;">
        <h5 class="card-title text-center pb-0 my-0">DOCTORA ANDREA MARDONES CORDOVA</h5>
      </div>
      <div class="modal-body text-center mt-2 pt-3 pb-0">
        <img src="/assets/img/home/AndreaMardones.jpg" class="img-fluid border border-warning shadow rounded-circle h-jello mb-3">
        <p>Médico cirujano, especialista en salud pública año 2011, especialista en Oftalmología Universidad de Chile titulada con distinción máxima año 2015.
            Acreditada por el International Council of Ophthalmology.
            <br>Máster en estética facial año 2019, Sao Paulo. Brasil.
        </p>
        <p><span class="font-weight-bold">Experiencia profesional</span>: Hospital Regional de Concepción y hospital San juan de Dios de Santiago.
            Actualmente se desempeña en centros Vidaíntegra, Hospital Barros Luco Trudeau, Clínica Río Blanco y centros médicos aconcagua Los Andes y San Felipe.
        </p>
        <p class="bg-warning rounded p-1">
            Miembro activo del colegio médico de Chile y de la Sociedad Chilena de Oftalmología.
        </p>
        <p><span class="font-weight-bold">Área de atención:</span>
            Oftalmología general adulto y niños, cirugía de Catarata, Cirugía Láser de Glaucoma, Cirugía láser refractiva y Blefaroplastía láser.
            Armonización facial, tratamiento antiage, botox facial y para sudoración excesiva, rellenos con ácido hialurónico de ojeras, pómulos, labios, mentón
            y mandíbula. Procedimiento de lipopapada entre otros.
        </p>
      </div>
      <div class="modal-footer modal-border-warning justify-content-center border-0">
        <p class="btn btn-outline-danger w-50" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</p>
      </div>
    </div>
  </div>
</div>
