<!doctype html>
<html lang='es'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <meta name='description' content='Tratamientos rejuvenecedores y de prevencion, suaves y progresivos, sin cirugias.'/>
    <meta name='author' content='Raul Farias S' />
    <meta name='generator' content='RaFariasS v4.0.1' />
    <title>Dra. Mardones</title>

    <!-- favicon -->
    <link rel='apple-touch-icon' sizes='180x180' href='/assets/favicon/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/assets/favicon/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/assets/favicon/favicon-16x16.png' />
    <link rel='manifest' href='/assets/favicon/site.webmanifest' />
    <link rel='mask-icon' href='/assets/favicon/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='msapplication-TileColor' content='#ffc40d' />
    <meta name='theme-color' content='#ffffff' />

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/assets/css/bootstrap.css' />

    <!-- Optional CSS -->
    <link rel='stylesheet' href='/assets/css/album.css' />
    <link rel='stylesheet' href='/assets/css/hamburgers.css' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-172304317-1'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-172304317-1');
    </script>
  </head>
  <body>
    <!-- Up Button -->
    <div class='scrollTop' onclick='scrollToTop();'></div>

    <!-- Navbar -->
    <div class='container-fluid bg-dark navbar-shadow border-bottom border-mardones1 fixed-top px-0'>
      <div class='container px-0'>
        <nav class='container navbar navbar-expand-lg navbar-dark bg-dark mx-0'>
          <a class='navbar-brand' href='/'>
            <img src='/assets/img/logo/logo_completo_calado.png' height='64' alt='' />
          </a>
          <button class='hamburger hamburger--emphatic' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='hamburger-box'>
              <span class='hamburger-inner'></span>
            </span>
          </button>
          <div class='collapse navbar-collapse text-center py-3 font-menu' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto'>
              <li class='nav-item'>
                <a class='nav-link' href='/'><i class='fas fa-notes-medical'></i> Dra. Mardones</a>
              </li>
              <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='outline: none;'>
                  <i class='fas fa-eye'></i> Oftalmologia
                </a>
                <div class='dropdown-menu navbar-dark bg-dark text-center text-lg-left' aria-labelledby='navbarDropdown'>
                  <a class='dropdown-item' href='patologias.html'><i class='fab fa-pushed'></i> Patologías</a>
                  <a class='dropdown-item' href='cirugias.html'><i class='fab fa-pushed'></i> Cirugías y Procedimientos</a>
                </div>
              </li>
              <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle border-0' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='outline: none;' >
                  <i class='fas fa-syringe'></i> Estética oculofacial
                </a>
                <div class='dropdown-menu navbar-dark bg-dark text-center text-lg-left' aria-labelledby='navbarDropdown'>
                  <a class='dropdown-item' href='introduccion.html'><i class='fab fa-pushed'></i> Introducción</a>
                  <a class='dropdown-item' href='procedimientos.html'><i class='fab fa-pushed'></i> Procedimientos</a>
                </div>
              </li>
              <li class='nav-item'>
                <a class='nav-link' href='contactenos.html'><i class='fas fa-envelope'></i> Contactenos!</a>
              </li>
            </ul>
            <a class='btn btn-outline-warning my-2' target='_blank' href='https://api.whatsapp.com/send?phone=56939477902&text=Hola,%20quisiera%20reservar%20una%20hora.%20&/assets=&data=&app_absent='>
              <i class='fab fa-whatsapp'></i> Reserva Su Hora
            </a>
          </div>
        </nav>
      </div>
    </div>

    {{{ body }}}

    <!-- Waves del Footer -->
    <div class="container-fluid p-0 m-0 h-10" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 250" ><path fill="#343A40" fill-opacity="1" d="M0 -0.142883L45.7333 29.2207C91.4667 59.1357 182.667 117.036 274.667 146.951C365.733 176.314 457.333 176.314 548 176.314C640 176.314 732 176.314 822.667 198.371C914.267 220.429 1005.33 264.543 1097.33 235.179C1188.53 205.264 1280 103.25 1372 95.3921C1462.8 88.0857 1554.67 176.314 1645.33 198.371C1737.2 220.429 1828 176.314 1874.67 154.257L1920 132.2V308.657H1874.27C1828.53 308.657 1737.33 308.657 1645.33 308.657C1554.27 308.657 1462.67 308.657 1372 308.657C1280 308.657 1188 308.657 1097.33 308.657C1005.73 308.657 914.667 308.657 822.667 308.657C731.467 308.657 640 308.657 548 308.657C457.2 308.657 365.333 308.657 274.667 308.657C182.8 308.657 92 308.657 45.3333 308.657H0V-0.142883Z"/></svg>
    </div>

    <!-- Footer -->
    <div class="text-muted bg-dark py-2">
      <div class="container-fluid pt-5">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <!-- Columna 1 -->
            <div class="col-12 col-lg-4 p-2 text-center">
              <img src="/assets/logo/logo_completo_calado.png" class="img-fluid" alt="">
            </div>
            <!-- Columna 2 -->
            <div class="col-12 col-lg-4 p-2 text-center">
              <p class="lead-footer">
                Nuestros Horarios de atencion son:<br>
                de Lunes a Viernes de 9 AM - 20 PM<br>
                y Sabados de 9 AM - 15 PM<br>
                <a href="https://goo.gl/maps/mEeV6vxx6KxJzJE39" target="_blank"><i class="fas fa-map-marker-alt fa-2x px-3 pt-4" data-toggle="tooltip" data-placement="top" title="Merced 552, San Felipe"></i></a>
                <a href="https://goo.gl/maps/VZP2pC3FtN62" target="_blank"><i class="fas fa-map-marker-alt fa-2x px-3 pt-4" data-toggle="tooltip" data-placement="top" title="Las Heras 650, Los Andes"></i></a>
                <a href="mailto:Contacto@doctoramardones.cl" target="_blank"><i class="far fa-envelope fa-2x px-3 pt-4" data-toggle="tooltip" data-placement="top" title="Contacto@doctoramardones.cl"></i></a>
                <a href="https://api.whatsapp.com/send?phone=56939477902&text=Quisiera%20consultar%20sobre%20las%20ofertas&/assets=&data=&app_absent=" target="_blank"><i class="fas fa-mobile-alt fa-2x px-3 pt-4" data-toggle="tooltip" data-placement="top" title="+569 3947 7902"></i></a>
              </p>
            </div>
            <!-- Columna 3 -->
            <div class="col-12 col-lg-4 p-2 text-center">
              <p class="lead-footer">Tambien puedes encontrarnos en:</p>
              <a href="https://www.facebook.com/doctoramardones/" target="_blank"><i class="fab fa-facebook-square fa-4x p-3" data-toggle="tooltip" data-placement="top" title="FB: doctoramardones"></i></a>
              <a href="https://www.instagram.com/doctoramardones/?hl=es-la" target="_blank"><i class="fab fa-instagram fa-4x p-3" data-toggle="tooltip" data-placement="top" title="IG: doctoramardones"></i></a>
            </div>
          </div>
          <div class="container-fluid justify-content-center align-items-center">
            <hr class="col-8 col-lg-9" style="background-color: #6c757d !important;">
          </div>
          <div class="row justify-content-center align-items-center">
            <p class="lead-footer text-center mb-0">DoctoraMardones&#174; &#0169;2019 a
              <span id="anio"></span> - Todos los derechos reservados.
              <br>Created by
              <a href="http://www.rafariass.cl" target="_blank" class="text-white text-decoration-none">
                <img src="/assets/rafariass/rafariass.png">
                <i class="fas fa-terminal"></i><span class="rafariass">RaFariasS&#174;</span>.
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type='text/javascript' src='/assets/js/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='/assets/js/popper_v1.16.0.min.js'></script>
    <script type='text/javascript' src='/assets/js/bootstrap_v4.5.0.min.js'></script>

    <!-- Optional JavaScript -->
    <script type='text/javascript' src='/assets/js/hamburgers.js'></script>
    <script type='text/javascript' src='/assets/js/inputMDL.js'></script>
    <script type='text/javascript' src='/assets/js/main.js'></script>
    <script type='text/javascript' src='/assets/js/carousel.js'></script>
    <script type='text/javascript' src='/assets/js/fontawesome.js'></script>
  </body>
</html>